test/schema/types/customValue.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://redmin-mylyncon.sf.net/schemas/WS-API-2.5"
	targetNamespace="http://redmin-mylyncon.sf.net/schemas/WS-API-2.5"
	elementFormDefault="qualified" >

	<xsd:complexType name="customValue">
		<xsd:sequence>
			<xsd:element name="customFieldId" type="xsd:integer" />
			<xsd:element name="value" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
