test/schema/types/journal.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://redmin-mylyncon.sf.net/schemas/WS-API-2.6"
	targetNamespace="http://redmin-mylyncon.sf.net/schemas/WS-API-2.6"
	elementFormDefault="qualified" >

	<xsd:include schemaLocation="datetime.xsd" />

	<xsd:complexType name="journal">
		<xsd:sequence>
			<xsd:element name="author" type="xsd:string" />
			<xsd:element name="createdOn" type="tns:datetime" />
			<xsd:element name="notes" type="xsd:string" />
			<xsd:element name="editableByUser" type="xsd:boolean" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:integer" use="required" />
	</xsd:complexType>
	
</xsd:schema>
