test/schema/types/property.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://redmin-mylyncon.sf.net/schemas/WS-API-2.5"
	targetNamespace="http://redmin-mylyncon.sf.net/schemas/WS-API-2.5"
	elementFormDefault="qualified" >

	<xsd:complexType name="property">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:integer" use="required" />
	</xsd:complexType>
	
</xsd:schema>
